<%
        def scan_until(regex)
          match = @string.match(regex)
          return unless match
          @string = match.post_match
          match
        end

        def add_slide_links(html)
          my_path = content_for(:output_path)
          link = "slides_#{ my_path&.gsub('./output/', '') }"
          # puts "linking to #{link} from #{my_path}"

          @string = html.dup

          pending = ""
          output = "<div class='slide'>\n"
          i = 0

          until @string.empty?
            match =  scan_until /(<h[23456].*?>|<hr>+|(<p>)*ยง(<.p>)*)/m

            break if !match

            output << match.pre_match

            output << "</div>\n<div class='slide'>\n<a class='slide_break' id='slide-#{i}' href='#{link}#/#{i}'>โป</a>\n"
            i += 1
            if match[0] =~ /ยง/ then
              # puts "slide #{i} until ยง"
              # discard match
            else
              # puts "slide #{i} until #{match[0]}"
              output << match[0]
            end
          end # until @string.empty?

          output << @string
          output << "</div>"

          output
        end
%>
<!doctype html>
<html dir="<%= @direction %>" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= yield(:page_title) %></title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" data-turbo-track="reload">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
    <link rel="stylesheet" type="text/css" href="stylesheets/highlight.css" data-turbo-track="reload">
    <link rel="icon" href="images/backend-development.svg" sizes="any">
    <script src="javascripts/@hotwired--turbo.js" data-turbo-track="reload"></script>
    <script src="javascripts/clipboard.js" data-turbo-track="reload"></script>
    <script src="javascripts/guides.js" data-turbo-track="reload"></script>
    <meta property="og:title" content="<%= yield(:page_title) %>" />
    <meta name="description" content="<%= yield(:description) %>" />
    <meta property="og:description" content="<%= yield(:description) %>" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Textbook Backend Developemnt" />
    <meta property="og:image" content="images/backend-development.svg" />
    <meta property="og:type" content="website" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Noto+Sans+Arabic:wght@100..900&display=swap" rel="stylesheet">
    <meta name="theme-color" content="#2e56e9">
  </head>
  <body class="guide">
    <header id="page_header">
      <div class="wrapper clearfix">
        <nav id="feature_nav">
          <div class="header-logo">
            <a href="/">Backend Development</a>
          </div>
          <ul class="nav">
            <li><a class="nav-item" id="home_nav" href="/">Home</a></li>
            <li class="guides-index guides-index-large">
              <a href="index.html" id="guidesMenu" class="guides-index-item nav-item">Index</a>
              <div id="guides" class="clearfix" style="display: none;">
                <hr />
                <dl class="guides-section-container">
                  <% documents_by_section.each do |section| %>
                    <div class="guides-section">
                      <dt><%= section['name'] %></dt>
                      <% finished_documents(section['documents']).each do |document| %>
                        <dd><a href="<%= document['url'] %>"><%= document['name'] %></a></dd>
                      <% end %>
                    </div>
                  <% end %>
                </dl>
              </div>
            </li>
            <li class="guides-index guides-index-small">
              <select class="guides-index-item nav-item">
                <option value="index.html">Index</option>
                <% docs_for_menu.each do |section| %>
                  <optgroup label="<%= section['name'] %>">
                    <% finished_documents(section['documents']).each do |document| %>
                      <option value="<%= document['url'] %>"><%= document['name'] %></option>
                    <% end %>
                  </optgroup>
                <% end %>
              </select>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <hr class="hide" />
    <section id="feature">
      <div class="wrapper">
        <%= yield :header_section %>
        <%= yield :index_section %>
        <hr>
      </div>
    </section>
    <main id="container">
      <div class="wrapper">
        <div id="mainCol">
          <%= add_slide_links(yield).html_safe %>
        </div>
      </div>
    </main>
    <hr class="hide" />
    <footer id="page_footer">
      <div class="wrapper">
        <%= render 'license' %>
      </div>
    </footer>
  </body>
</html>
